form {
    width: 90%;
    text-align: start;
    margin: auto;
}

label {
    margin: 10px;
}

input {
    width: 275px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 5px
}

select {
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px 5px
}

.reset-btn {
    margin-left: 10px;
}

.submit-btn {
    margin: 10px
}

  