.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  background-color: #F6343F;
  color: #fff;
  font-weight: bold;
}

button {
  background-color:#F6343F;
  color: #fff;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 4px rgb(78, 76, 76);
  -moz-box-shadow: 0px 0px 4px rgb(78, 76, 76);
  box-shadow: 0px 0px 4px rgb(78, 76, 76);
}

#prev, #next {
  margin: 4px 40px 20px 40px
}

button:hover {
  opacity: 0.9;
  border: 1px solid black;
}

button:focus, 
button:active, 
input:focus, 
input:active,
select:focus,
select:active {
  outline: none !important;
}